.container {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px #BBB;
}

body {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px #BBB;
}